* {
  margin:0;
  outline:0;        
}

/*including the padding and border in the total width and height*/
* {
  box-sizing:border-box;
}

/*responsive grid-view with 12 columns*/
.col-1 {
  width:8.33%;
}

.col-2 {
  width:16.66%;
}

.col-3 {
  width:25%;
}

.col-4 {
  width:33.33%;
}

.col-5 {
  width:41.66%;
}

.col-6 {
  width:50%;
}

.col-7 {
  width:58.33%;
}

.col-8 {
  width:66.66%
}

.col-9 {
  width:75%;
}

.col-10 {
  width:83.33%;
}

.col-11 {
  width:91.66%;
}

.col-12 {
  width:100%
}

/*float to the left & padding of 15px to all columns*/
[class*="col-"] {
  display:grid;
  float:left;
}

/*clear float to the left for inline-row elements*/
.row::after {
  content:"";
  clear:both;
}

/*header & cover bar style*/
.header-cover {
  background:url(../images/background1.jpg) no-repeat;
  background-size:cover;
}

/*nav_bar style*/
.nav-bar {
  background:rgba(01,44,22,0.6);
  position:fixed;
  top:0;
  width:100%;
  height:100px;
}

header, nav {
  height:100px;
}

#logo {
  width:40px;
  vertical-align:middle;
}

header a,
nav a {
  color:white;
  text-decoration:none;
}

header a {
  font-size:40px;
  font-weight:bold;
  padding:22.96px 0 22.96px 25px;
  vertical-align:middle;
}

nav ul {
  list-style-type:none;
  overflow:hidden;
  text-align:right;
  padding-right:60px;
  height:100px;
}

nav li {
  display:inline-block;
  font-size:18px;
}

nav li a {
  display:block;
  padding:38px 30px;
}

nav a:hover:not(.youtube),
.dropdown-content a:hover {
  background:rgba(01,44,22,0.6);
}

.youtube {
  padding:33px 30px;
}

nav img {
  width:34px;
  vertical-align:middle;
}

.dropdown-content {
  display:none;
  position:absolute;
  background:rgba(01,44,22,0.4);
  min-width:160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
.dropdown-content a {
  color:white;
  padding:12px 16px;
  font-size:16px;
  text-decoration:none;
  display:block;
  text-align:center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*cover-section style*/
.cover-section {
  height:600px;
  text-align:center;
  padding:250px 0 150px;
}

.cover-section p {
  font-size:30px;
  font-weight:bold;
}

.cover h1 {
  font-size:60px;
  padding:30px;
}

/*main section style*/
.moto article {
  padding:50px 60px
}

.moto h2 {
  font-size:32px;
}

.moto img {
  display:block;
  width:100px;
  margin:50px auto;
}

.moto p {
  text-align:center;
}

#moto {
  font-size:24px;
  font-weight:bold;
  padding:10px 0 30px;
}

#verse {
  font-size:20px;
  font-weight:normal;
  padding:0 15%;
}

/*footer style*/
footer {
  background:rgb(54,54,54);
  height:100px;
  text-align:center;
  color:white;
  padding:15px
}

footer table {
  margin:0 auto;
}

footer th {
  font-weight:normal;
  padding:0 15px;
}

#border_right {
  border-right:2px solid white;
}