* {
  margin:0;
  outline:0;        
}

/*including the padding and border in the total width and height*/
* {
  box-sizing:border-box;
}

/*responsive grid-view with 12 columns*/
.col-1 {
  width:8.33%;
}

.col-2 {
  width:16.66%;
}

.col-3 {
  width:25%;
}

.col-4 {
  width:33.33%;
}

.col-5 {
  width:41.66%;
}

.col-6 {
  width:50%;
}

.col-7 {
  width:58.33%;
}

.col-8 {
  width:66.66%
}

.col-9 {
  width:75%;
}

.col-10 {
  width:83.33%;
}

.col-11 {
  width:91.66%;
}

.col-12 {
  width:100%
}

/*float to the left & padding of 15px to all columns*/
[class*="col-"] {
  display:grid;
  float:left;
}

/*clear float to the left for inline-row elements*/
.row::after {
  content:"";
  clear:both;
}

/*header & cover bar style*/
.header-cover {
  background:url(../images/background1.jpg) no-repeat;
  background-size:cover;
}

/*nav_bar style*/
.nav-bar {
  background:rgba(01,44,22,0.6);
  position:fixed;
  top:0;
  z-index:1;
  width:100%;
  height:100px;
}

header, nav {
  height:100px;
}

.s-screen-menu,
.s-screen-dropdown-content {
  display:none;
}

#logo {
  width:40px;
  vertical-align:middle;
}

header a,
nav a {
  color:white;
  text-decoration:none;
}

header a {
  font-size:40px;
  font-weight:bold;
  padding:22.96px 0 22.96px 25px;
  vertical-align:middle;
}

nav ul {
  list-style-type:none;
  overflow:hidden;
  text-align:right;
  padding-right:60px;
  height:100px;
}

nav li {
  display:inline-block;
  font-size:18px;
}

nav li a {
  display:block;
  padding:38px 30px;
}

nav a:hover:not(.youtube),
.dropdown-content a:hover {
  background:rgba(01,44,22,0.6);
}

.youtube {
  padding:33px 30px;
}

nav img {
  width:34px;
  vertical-align:middle;
}

.dropdown-content {
  display:none;
  position:fixed;
  background:rgba(01,44,22,0.6);
  min-width:160px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color:white;
  padding:12px 16px;
  font-size:16px;
  text-decoration:none;
  display:block;
  text-align:center;
}

.dropdown:hover .dropdown-content {
  display:block;
}

/*main section style*/
.moto article {
  padding:50px 60px
}

.moto h2 {
  font-size:32px;
}

.moto img {
  display:block;
  width:100px;
  margin:50px auto;
}

.moto p {
  text-align:center;
}

#moto {
  font-size:24px;
  font-weight:bold;
  padding:10px 0 30px;
}

#verse {
  font-size:20px;
  font-weight:normal;
  padding:0 15%;
}

/*footer style*/
footer {
  background:rgb(54,54,54);
  height:100px;
  text-align:center;
  color:white;
  padding:15px;
}

footer table {
  margin:0 auto;
}

footer th {
  font-weight:normal;
  padding:0 15px;
}

footer #border_right {
  border-right:2px solid white;
}

/*index.html only -------------*/
/*cover section style*/
.cover-index {
  width:100%;
  height:600px;
  text-align:center;
  padding:280px 0px 180px;
}

.cover-index p {
  font-size:30px;
  font-weight:bold;
}

.cover-index h1 {
  font-size:60px;
  padding:30px;
}

/*--------------------------*/

/*교회소개 style-------------*/
/*cover section style*/
.cover-about {
  height:400px;
  text-align:center;
  padding:183.2px 0px 83.2px;
}

.cover-about p {
  font-size:30px;
  font-weight:bold;
}

.cover-about h1 {
  font-size:55px;
  padding:30px;
}

/*main section style*/
.history {
  height:500px;
  padding:50px 100px 50px 60px;
}

.history img {
  width:80%;
}

.history p {
  font-size:20px;
  padding:10px 0;
}


.vision {
  position:relative;
  z-index:0;
  width:100%;
  height:900px;
  background:rgba(220,220,220,0.3);
  padding:50px 60px;
}

.vision .opaque-background {
  position:absolute;
  z-index:-1;
  height:800px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:url(../images/life.jpg) no-repeat center center;
  background-size:contain;
  min-width:100%;
  min-height:100%;
  opacity:0.1;  
}

.vision h2 {
  font-size:32px;
}

.vision p {
  text-align:center;
  font-weight:bold;
  font-size:24px;
  padding:60px 0 80px;
}

.vision img {
  margin: 10px auto 50px;
}

.vision h3 {
  padding:20px 10%;
}

.vision ul {
  font-size:18px;
  padding:0 15%;
}
.vision li {
  padding:3px 0;
}

.block-display {
  display:block;
  height:500px;
}

.goal {
  height:500px;
  padding:80px 60px;
  background:rgb(143, 188, 143);
  color:rgb(47, 79, 79);
}

.goal p {
  text-align:center;
  padding:10px 20%;
  font-size:22px;
}

.goal p:first-of-type {
  text-decoration:underline;
  font-weight:bold;
  font-size:28px;
  padding:0 0 60px;
}

.goal i {
  vertical-align:middle;
  padding:0 10px;
}

.greetings {
  height:1000px;
  padding:50px 60px;
}

.greetings h2 {
  font-size:32px;
  padding-bottom:80px;
}

.greetings p {
  font-size:18px;
  padding:10px 80px 10px 15%;
  line-height:30px;
}

.greetings p:first-of-type {
  font-size:20px;
  padding-bottom:30px
}

.greetings p:last-of-type {
  font-size:22px;
}

.greetings img {
  width:50%;
  margin:0 40px;
}

.career {
  height:800px;
  background:rgba(220,220,220,0.3);
  padding:50px 60px;
}

.career h2 {
  font-size:32px;
  padding-bottom:40px;
}

.career .border {
  border:3px solid black;
  border-radius:50px;
}

.career div {
  margin:0 30px;
  height:560px;
}

.career article {
  height:555px;
}

.career .border-right {
  border-right:3px solid black;
}

.career article ul {
  padding:20px 50px;
}

.career article h3 {
  font-size:22px;
  padding:30px 30px 0;
}

.career article li {
  font-size:16px;
  padding:8px 0;
}

.location-contact {
  height:750px;
  padding:50px 60px;
}

.location-contact h2 {
  font-size:32px;
}

.location-contact iframe {
  width:90%; 
  height:600px;
  padding:60px 0 50px 15%;
}

.location-contact p:first-of-type {
  padding-top:70px;
}

.location-contact p {
  font-size:18px;
  padding:12px 50px 0 20px;
}

.worship {
  height:700px;
  padding:50px 60px;
}
.worship h2 {
  font-size:32px;
}

.worship iframe {
  width:90%;
  height:500px;
  padding:60px 0 0 30px;
}

.worship h3 {
  padding:70px 0 30px;
  text-decoration:underline;
}

.worship img {
  width:80%;
}


/*For smaller screens*/
@media only screen and (max-width:950px) {
  /* For mobile phones: */
  [class*="col-"] {
    width:100%;
    display:block;
  }
  
  header .s-screen-header {
    display:block;
    position:absolute;
    z-index:1;
    font-size:35px;
    height:100px;
  }

  header .s-screen-dropbtn {
    display:inline-block;
    padding:22.96px 33px;
    height:100px;
    float:right;
  }
  
  nav ul {
    display:none;
  }

  .s-screen-menu {
    display:inline-block;
    float:right;
    width:100px;
  }

  .s-screen-dropdown-content{
    display:none;
    position:relative;
    z-index:1;
    background:rgba(01,44,22,0.6);
    width:280%;
    float:right;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .s-screen-dropdown-content img {
    width:30px;
  }

  .s-screen-dropdown-content a {
    color:white;
    padding:12px 16px;
    font-size:16px;
    text-decoration:none;
    display:block;
    text-align:center;
  }

  .s-screen-menu a:hover {
    background:rgba(01,44,22,0.6);
  }
  
  .s-screen-menu:hover .s-screen-dropdown-content {
    display:block;
  }

  .cover-index {
    font-size:60%;
  }

}